[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:attachmentgenie/attachmentgenie-ssh.git
[submodule "modules/timezone"]
	path = modules/timezone
	url = git@github.com:attachmentgenie/attachmentgenie-timezone.git
[submodule "modules/motd"]
	path = modules/motd
	url = git@github.com:attachmentgenie/attachmentgenie-motd.git
[submodule "modules/locales"]
	path = modules/locales
	url = git@github.com:attachmentgenie/attachmentgenie-locales.git
[submodule "modules/puppetmaster"]
	path = modules/puppetmaster
	url = git@github.com:attachmentgenie/attachmentgenie-puppetmaster.git
[submodule "modules/orchestrate"]
	path = modules/orchestrate
	url = git@github.com:attachmentgenie/attachmentgenie-orchestrate.git
[submodule "modules/selinux"]
	path = modules/selinux
	url = git@github.com:jfryman/puppet-selinux.git
[submodule "modules/pulp"]
	path = modules/pulp
	url = git@github.com:pulp/puppet_deployment.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = git@github.com:puppetlabs/puppetlabs-mongodb.git
[submodule "modules/qpid"]
	path = modules/qpid
	url = git@github.com:dprince/puppet-qpid.git
